[user]
	email = K.Sakurai_2000@outlook.com
	name = Sakurai
[color]
	ui = true
[alias]
	st = status -sb
	df = diff --color-words -w
	tree = log --graph --oneline
	logl = log --date=format:'%Y/%m/%d %H:%M:%S' --pretty=format:'%C(green)%h %C(reset)%cd %C(blue)%cn %C(red)%d %C(reset)%s'
[core]
	autocrlf = false
	editor = vim
	quotepath = false # 日本語ファイルの文字化け防止
	ignorecase = false # ファイルの大文字小文字を区別する
[push]
	default = current
[pull]
	ff = only
[merge]
	ff = false
[credential]
	helper = cache
