[user]
	email = K.Sakurai_2000@outlook.com
	name = Sakurai
[color]
	ui = true
[alias]
	st = status
[core]
	autocrlf = false
	editor = vim
	quotepath = false
[push]
	default = current
[pull]
	ff = only
[credential]
	helper = cache
